# Standard Python stuff
*.pyc
/build/
/dist/
/venv/
/*.egg-info/

# testing
/.tox/

# make sure users don't commit private key material
*.json
*.pem
*.der
# ... as well as external IO plugin script
/external.sh

# `sshfs user@host:$ROOT public_html/.well-known/acme-challenge` and
# `simp_le ... public_html/.well-known/acme-challenge`
/public_html/
