# Standard Python stuff
*.pyc
/build/
/dist/
/venv/
/*.egg-info/

# testing
/.tox/

# make sure users don't commit private key material
*.json
*.pem
*.der
# ... as well as external IO plugin script
/external.sh

# `sshfs user@host:$ROOT public_html/` and `--default_root=public_html`
/public_html/
